@font-face {
  font-family: kanji;
  src: url(assets/Pauls_Kanji_Font.ttf);
}

body {
  position: relative;
  margin: 0;
  background: black;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  width: 100%;
  background-position: center;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 300px;
}

@-webkit-keyframes textanimacion {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes textanimacion {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.overscreen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
  z-index: 2;
  background: -webkit-gradient(linear, left bottom, left top, from(#000000), to(#000582));
  background: linear-gradient(0deg, #000000, #000582);
  -webkit-animation: overscreen 0.5s ease-out 5s 1 forwards;
          animation: overscreen 0.5s ease-out 5s 1 forwards;
}

.overscreen .logo-kim {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 80%;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(Kimetsu_no_yaiba_Logo.png);
  background-size: 30%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.overscreen .logo-kim .img {
  position: relative;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: logoanimacion 1s ease-in 0s;
          animation: logoanimacion 1s ease-in 0s;
}

.overscreen .logo-kim .img img {
  width: 80%;
  height: auto;
  margin: 0 auto;
}

.overscreen .logo-kim .img a {
  text-decoration: none;
}

.overscreen .logo-kim .img a .ingreso-btn {
  text-align: center;
  color: white;
  font-family: kanji;
  font-size: 2em;
  width: 50%;
  height: auto;
  position: absolute;
  bottom: 20%;
  left: 25%;
  -webkit-animation: textanimacion 3s ease-in 0s 1 normal forwards;
          animation: textanimacion 3s ease-in 0s 1 normal forwards;
}

p {
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal;
  color: white;
}

.datos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.datos p {
  color: white;
  margin: 10px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: lighter;
}

aside figure img {
  height: auto;
  width: 350px;
  margin: inherit;
}

.title {
  text-align: center;
  width: 60%;
  margin: auto;
}

.title h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

.title p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1em;
}

.title img {
  height: auto;
  width: 400px;
  margin: auto;
}

.historia-pers {
  color: white;
  text-align: center;
  width: 80%;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.historia-pers .nombre {
  font-size: larger;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 2em;
}

.historia-pers .desc {
  font-size: medium;
  font-weight: lighter;
  font-family: "Josefin Sans", sans-serif;
  padding: 1em;
}

.contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 1em auto;
}

.contacto .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 40%;
}

.contacto .item label {
  margin-right: 0.5em;
  margin-top: auto;
  margin-bottom: auto;
}

.contacto .item input {
  width: 100%;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  margin: 0 auto;
}

form .cont-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

form .cont-email label {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0.5em;
}

form .cont-email input {
  width: 100%;
}

form button {
  margin: auto;
  text-align: center;
  width: 30%;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
  border-radius: 30px;
  padding: 10px;
  color: white;
}

form textarea {
  margin: auto;
  border-radius: 25px;
  font-family: "Josefin Sans", sans-serif;
  padding: 1em;
  width: 60%;
}

input {
  border-radius: 25px;
  padding: 0.5em;
  font-family: "Josefin Sans", sans-serif;
}

.biocard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  border: none;
  margin: auto;
  border-bottom: none;
  margin-bottom: 2em;
  padding-bottom: 1em;
  border-radius: 20px;
  background-color: rgba(50, 50, 50, 0.5);
  -webkit-box-shadow: 10px 10px 11px -4px #000ba1;
  box-shadow: 10px 10px 11px -4px #000ba1;
}

.biocard .info-pers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.biocard .info-pers .nombre {
  font-size: larger;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 2em;
  color: white;
  margin-top: 1em;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 6rem;
  margin: 1rem auto;
}

header a {
  width: auto;
  height: auto;
}

header a .logo-kim-sm {
  background-image: url(Kimetsu_no_yaiba_Logo.png);
  width: 10em;
  background-size: contain;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin: inherit;
}

header nav {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin: 0 auto;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding-left: 0;
}

header nav ul li {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5em;
  list-style-type: none;
  padding: 0.2em 2em;
  color: white;
  opacity: 0;
}

header nav ul li:nth-child(1) {
  -webkit-animation: textanimacion 0.2s linear 0.4s 1 forwards;
          animation: textanimacion 0.2s linear 0.4s 1 forwards;
}

header nav ul li:nth-child(2) {
  -webkit-animation: textanimacion 0.2s linear 0.6s 1 forwards;
          animation: textanimacion 0.2s linear 0.6s 1 forwards;
}

header nav ul li:nth-child(3) {
  -webkit-animation: textanimacion 0.2s linear 0.8s 1 forwards;
          animation: textanimacion 0.2s linear 0.8s 1 forwards;
}

header nav ul li:nth-child(4) {
  -webkit-animation: textanimacion 0.2s linear 1s 1 forwards;
          animation: textanimacion 0.2s linear 1s 1 forwards;
}

header nav ul li a {
  text-decoration: none;
  color: white;
}

header nav ul li a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.drop {
  position: relative;
}

.drop:hover {
  text-decoration: underline;
  cursor: pointer;
}

.drop .menu {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  min-width: 160px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 12px 16px;
  z-index: 1;
}

.drop .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: left;
  width: 100%;
  padding-left: 0;
  height: 0;
  opacity: 0;
}

.drop .menu ul:nth-child(1) {
  -webkit-animation: textanimacion 0.1s linear 0s 1 forwards !important;
          animation: textanimacion 0.1s linear 0s 1 forwards !important;
}

.drop .menu ul:nth-child(2) {
  -webkit-animation: textanimacion 0.1s linear 0s 1 forwards !important;
          animation: textanimacion 0.1s linear 0s 1 forwards !important;
}

.drop .menu ul li {
  text-align: left;
  font-size: medium;
  color: white;
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 50%;
  margin: 0;
}

.drop .menu ul li a {
  cursor: pointer;
}

.drop:hover .menu {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.drop:hover .menu ul {
  height: 3rem;
}

.historia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.historia img {
  margin: auto;
  width: 500px;
  height: auto;
}

.historia p {
  width: 60%;
  margin: 3em auto;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 3em;
  width: auto;
  height: 100%;
  min-width: 300px;
}

main article {
  border: 1px solid white;
  width: 80%;
  height: auto;
  margin: 0 auto;
}

main article section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main article section .title {
  width: 100%;
  margin: 0 auto;
}

main article section .title p {
  text-align: center;
  color: white;
  font-weight: bold;
}

main article section .desc-gral {
  width: 50%;
  margin: 0 auto;
}

main article section .desc-gral p {
  text-align: center;
  color: white;
  font-weight: lighter;
}

main article section .contenedor-fig {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 1rem auto;
  width: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

main article section .contenedor-fig figure {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  margin: 0;
  height: 100%;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

main article section .contenedor-fig figure:nth-child(1) {
  -webkit-animation: textanimacion 0.3s linear 0.7s forwards;
          animation: textanimacion 0.3s linear 0.7s forwards;
}

main article section .contenedor-fig figure:nth-child(2) {
  -webkit-animation: textanimacion 0.3s linear 1.1s forwards;
          animation: textanimacion 0.3s linear 1.1s forwards;
}

main article section .contenedor-fig figure:nth-child(3) {
  -webkit-animation: textanimacion 0.3s linear 1.5s forwards;
          animation: textanimacion 0.3s linear 1.5s forwards;
}

main article section .contenedor-fig figure .title {
  text-align: center;
  color: white;
}

main article section .contenedor-fig figure a {
  height: auto;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main article section .contenedor-fig figure a img {
  margin: auto;
  height: 15em;
  width: auto;
}

main article section .contenedor-fig figure:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

figcaption {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal;
  text-align: center;
}

footer {
  width: 100%;
  height: 10em;
  background-color: rgba(0, 0, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}

@media (max-width: 1300px) {
  .drop {
    position: relative;
  }
  .drop:hover {
    text-decoration: underline;
  }
  .drop .menu {
    display: none;
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
    min-width: 160px;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 12px 16px;
    z-index: 1;
  }
  .drop .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    text-align: center;
    width: 100%;
    padding-left: 0;
    height: 0;
    opacity: 0;
  }
  .drop .menu ul:nth-child(1) {
    -webkit-animation: textanimacion 0.1s linear 0s 1 forwards !important;
            animation: textanimacion 0.1s linear 0s 1 forwards !important;
  }
  .drop .menu ul:nth-child(2) {
    -webkit-animation: textanimacion 0.1s linear 0s 1 forwards !important;
            animation: textanimacion 0.1s linear 0s 1 forwards !important;
  }
  .drop .menu ul li {
    text-align: left;
    font-size: medium;
    color: white;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 50%;
    margin: auto;
    text-align: center;
  }
  .drop .menu ul li a {
    text-align: center;
    cursor: pointer;
  }
  .drop:hover .menu {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .drop:hover .menu ul {
    height: 3rem;
  }
  .contacto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
    margin: 1em auto;
  }
  .contacto .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100%;
  }
  .contacto .item label {
    margin-right: 0.5em;
    margin-top: auto;
    margin-bottom: auto;
  }
  .contacto .item input {
    width: 100%;
  }
  form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 90%;
    margin: 0 auto;
  }
  form .cont-email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
  }
  form .cont-email label {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0.5em;
  }
  form .cont-email input {
    width: 100%;
  }
  form button {
    margin: auto;
    text-align: center;
    width: 30%;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px;
    color: white;
  }
  form textarea {
    margin: auto;
    border-radius: 25px;
    font-family: "Josefin Sans", sans-serif;
    padding: 1em;
    width: 60%;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    padding: 1em;
    width: auto;
    height: 100%;
  }
  main article {
    border: 1px solid white;
    width: 90%;
    height: auto;
    margin: 0 auto;
  }
  main article section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main article section .title {
    width: 100%;
    margin: 0 auto;
  }
  main article section .title p {
    text-align: center;
    color: white;
    font-weight: bold;
  }
  main article section .desc-gral {
    width: 80%;
    margin: 0 auto;
  }
  main article section .desc-gral p {
    text-align: center;
    color: white;
    font-weight: lighter;
  }
  main article section .contenedor-fig {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 1rem auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 60%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  main article section .contenedor-fig figure {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
    height: 100%;
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  main article section .contenedor-fig figure:nth-child(1) {
    -webkit-animation: textanimacion 0.3s linear 0.7s forwards;
            animation: textanimacion 0.3s linear 0.7s forwards;
  }
  main article section .contenedor-fig figure:nth-child(2) {
    -webkit-animation: textanimacion 0.3s linear 1.1s forwards;
            animation: textanimacion 0.3s linear 1.1s forwards;
  }
  main article section .contenedor-fig figure:nth-child(3) {
    -webkit-animation: textanimacion 0.3s linear 1.5s forwards;
            animation: textanimacion 0.3s linear 1.5s forwards;
  }
  main article section .contenedor-fig figure .title {
    text-align: center;
    color: white;
  }
  main article section .contenedor-fig figure a {
    height: auto;
  }
  main article section .contenedor-fig figure a img {
    height: 250px;
    width: auto;
  }
  main article section .contenedor-fig figure:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .historia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .historia img {
    margin: auto;
    width: 350px;
    height: auto;
  }
  .historia p {
    width: 90%;
    margin: 3em auto;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: auto;
    margin: 1rem auto;
  }
  header a {
    width: auto;
    height: 3em;
  }
  header a .logo-kim-sm {
    background-image: url(Kimetsu_no_yaiba_Logo.png);
    width: 10em;
    background-size: contain;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
  }
  header nav {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    margin: 0 auto;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  header nav ul li {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.5em;
    list-style-type: none;
    padding: 0.2em 2em;
    color: white;
    opacity: 0;
  }
  header nav ul li:nth-child(1) {
    -webkit-animation: textanimacion 0.2s linear 0.4s 1 forwards;
            animation: textanimacion 0.2s linear 0.4s 1 forwards;
  }
  header nav ul li:nth-child(2) {
    -webkit-animation: textanimacion 0.2s linear 0.6s 1 forwards;
            animation: textanimacion 0.2s linear 0.6s 1 forwards;
  }
  header nav ul li:nth-child(3) {
    -webkit-animation: textanimacion 0.2s linear 0.8s 1 forwards;
            animation: textanimacion 0.2s linear 0.8s 1 forwards;
  }
  header nav ul li:nth-child(4) {
    -webkit-animation: textanimacion 0.2s linear 1s 1 forwards;
            animation: textanimacion 0.2s linear 1s 1 forwards;
  }
  header nav ul li a {
    text-decoration: none;
    color: white;
  }
  header nav ul li a:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  .historia-pers {
    color: white;
    text-align: center;
    width: 80%;
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .historia-pers .desc {
    font-size: medium;
    font-weight: lighter;
    font-family: "Josefin Sans", sans-serif;
  }
  aside figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  aside figure img {
    height: auto;
    width: 200px;
    margin: auto;
  }
  .biocard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 70%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
    border: none;
    margin-bottom: 2em;
    border-bottom: 1px solid white;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .biocard .info-pers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .contenedor-fig {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .title {
    text-align: center;
    width: 90%;
    margin: auto;
  }
  .title h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
  }
  .title p {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1em;
  }
  .title img {
    height: auto;
    width: 400px;
    margin: auto;
  }
}

@media (max-width: 767px) {
  .drop {
    position: relative;
  }
  .drop:hover {
    text-decoration: underline;
  }
  .drop .menu {
    display: none;
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
    min-width: 160px;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 12px 16px;
    z-index: 1;
  }
  .drop .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    text-align: center;
    width: 100%;
    padding-left: 0;
    height: 0;
    opacity: 0;
  }
  .drop .menu ul:nth-child(1) {
    -webkit-animation: textanimacion 0.1s linear 0s 1 forwards !important;
            animation: textanimacion 0.1s linear 0s 1 forwards !important;
  }
  .drop .menu ul:nth-child(2) {
    -webkit-animation: textanimacion 0.1s linear 0s 1 forwards !important;
            animation: textanimacion 0.1s linear 0s 1 forwards !important;
  }
  .drop .menu ul li {
    text-align: left;
    font-size: medium;
    color: white;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 50%;
    margin: auto;
    text-align: center;
  }
  .drop .menu ul li a {
    text-align: center;
    cursor: pointer;
  }
  .drop:hover .menu {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .drop:hover .menu ul {
    height: 3rem;
  }
  .contacto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
    margin: 1em auto;
  }
  .contacto .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100%;
  }
  .contacto .item label {
    margin-right: 0.5em;
    margin-top: auto;
    margin-bottom: auto;
  }
  .contacto .item input {
    width: 100%;
  }
  form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 90%;
    margin: 0 auto;
  }
  form .cont-email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
  }
  form .cont-email label {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0.5em;
  }
  form .cont-email input {
    width: 100%;
  }
  form button {
    margin: auto;
    text-align: center;
    width: 30%;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px;
    color: white;
  }
  form textarea {
    margin: auto;
    border-radius: 25px;
    font-family: "Josefin Sans", sans-serif;
    padding: 1em;
    width: 60%;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    padding: 1em;
    width: auto;
    height: 100%;
  }
  main article {
    border: 1px solid white;
    width: 90%;
    height: auto;
    margin: 0 auto;
  }
  main article section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main article section .title {
    width: 100%;
    margin: 0 auto;
  }
  main article section .title p {
    text-align: center;
    color: white;
    font-weight: bold;
  }
  main article section .desc-gral {
    width: 80%;
    margin: 0 auto;
  }
  main article section .desc-gral p {
    text-align: center;
    color: white;
    font-weight: lighter;
  }
  main article section .contenedor-fig {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1rem auto;
    width: 250px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  main article section .contenedor-fig figure {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
    height: 100%;
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  main article section .contenedor-fig figure:nth-child(1) {
    -webkit-animation: textanimacion 0.3s linear 0.7s forwards;
            animation: textanimacion 0.3s linear 0.7s forwards;
  }
  main article section .contenedor-fig figure:nth-child(2) {
    -webkit-animation: textanimacion 0.3s linear 1.1s forwards;
            animation: textanimacion 0.3s linear 1.1s forwards;
  }
  main article section .contenedor-fig figure:nth-child(3) {
    -webkit-animation: textanimacion 0.3s linear 1.5s forwards;
            animation: textanimacion 0.3s linear 1.5s forwards;
  }
  main article section .contenedor-fig figure .title {
    text-align: center;
    color: white;
  }
  main article section .contenedor-fig figure a {
    height: auto;
  }
  main article section .contenedor-fig figure a img {
    height: 250px;
    width: auto;
  }
  main article section .contenedor-fig figure:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .historia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .historia img {
    margin: auto;
    width: 350px;
    height: auto;
  }
  .historia p {
    width: 90%;
    margin: 3em auto;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: auto;
    margin: 1rem auto;
  }
  header a {
    width: auto;
    height: 3em;
  }
  header a .logo-kim-sm {
    background-image: url(Kimetsu_no_yaiba_Logo.png);
    width: 10em;
    background-size: contain;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
  }
  header nav {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    margin: 0 auto;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  header nav ul li {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.5em;
    list-style-type: none;
    padding: 0.2em 2em;
    color: white;
    opacity: 0;
  }
  header nav ul li:nth-child(1) {
    -webkit-animation: textanimacion 0.2s linear 0.4s 1 forwards;
            animation: textanimacion 0.2s linear 0.4s 1 forwards;
  }
  header nav ul li:nth-child(2) {
    -webkit-animation: textanimacion 0.2s linear 0.6s 1 forwards;
            animation: textanimacion 0.2s linear 0.6s 1 forwards;
  }
  header nav ul li:nth-child(3) {
    -webkit-animation: textanimacion 0.2s linear 0.8s 1 forwards;
            animation: textanimacion 0.2s linear 0.8s 1 forwards;
  }
  header nav ul li:nth-child(4) {
    -webkit-animation: textanimacion 0.2s linear 1s 1 forwards;
            animation: textanimacion 0.2s linear 1s 1 forwards;
  }
  header nav ul li a {
    text-decoration: none;
    color: white;
  }
  header nav ul li a:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  .historia-pers {
    color: white;
    text-align: center;
    width: 80%;
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .historia-pers .desc {
    font-size: medium;
    font-weight: lighter;
    font-family: "Josefin Sans", sans-serif;
  }
  aside figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  aside figure img {
    height: auto;
    width: 200px;
    margin: auto;
  }
  .biocard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
    border: none;
    margin-bottom: 2em;
    border-bottom: 1px solid white;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .biocard .info-pers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .contenedor-fig {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .title {
    text-align: center;
    width: 90%;
    margin: auto;
  }
  .title h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
  }
  .title p {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1em;
  }
  .title img {
    height: auto;
    width: 400px;
    margin: auto;
  }
}
/*# sourceMappingURL=style.css.map */